﻿@page
@{
    ViewData["Title"] = "Admin page";
}

<div class="text-center">

    <h1>What would you like to destroy?</h1>

    <div>
        <a asp-page="PreferenceList"><h1>Preferences</h1></a>
        <a asp-page="CustomerList"><h1>Customers</h1></a>
        <a asp-page="PromocodeList"><h1>Promocodes</h1></a>
    </div>

</div>