﻿@page "/Admin/Customer"
@model CustomerModel
@{
    ViewData["Title"] = @Model.Title;
}

<h1>@Model.Title</h1>
<hr />

<form method="post">
    <div class="form-group">
        <input type="hidden" asp-for="CustomerViewModel.Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CustomerViewModel.FirstName" class="control-label">First name:</label>
        <input asp-for="CustomerViewModel.FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CustomerViewModel.LastName" class="control-label">Last name:</label>
        <input asp-for="CustomerViewModel.LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CustomerViewModel.Email" class="control-label">Email:</label>
        <input asp-for="CustomerViewModel.Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CustomerViewModel.PreferenceIds">Preferences:</label>
        <select asp-for="CustomerViewModel.PreferenceIds" multiple class="form-control">
            @foreach (var pref in @Model.AllPreferenceViewModels) {
                <option selected="@pref.IsSelected" value="@pref.Id">@pref.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="CustomerViewModel.PromocodeIds">Promocodes:</label>
        <select asp-for="CustomerViewModel.PromocodeIds" multiple class="form-control">
            @foreach (var prom in @Model.AllPromocodeViewModels) {
                <option selected="@prom.IsSelected" value="@prom.Id">@prom.Code</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="CustomerList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}