﻿@page "/Admin/CustomerList"
@model CustomerListModel

<h1 class="text-center m-2 p-2">Customers management page!</h1>

<a class="btn btn-sm btn-primary m-2 p-2" asp-page="Customer" asp-page-handler="Create">Create new</a>

<div>
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var @c in Model.Customers) {
            <tr>
                <td>
                    @Html.DisplayFor(model => c.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => c.LastName)
                </td>
                <td>
                    @Html.DisplayFor(model => c.Email)
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" asp-page="Customer" asp-page-handler="Update" asp-route-id="@c.Id">Edit</a> |
                    <a class="btn btn-sm btn-outline-primary" asp-page="CustomerDetails" asp-route-id="@c.Id">Details</a> |
                    <form class="m-0 p-0 d-inline" asp-page="Customer" asp-page-handler="Delete" method="post">
                        <input type="hidden" name="Id" value="@c.Id" />
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>            
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-page="Admin">Back to admin page</a>
</div>