﻿@page "/Admin/CustomerDetails"
@model CustomerDetailsModel
@{
    ViewData["Title"] = "Customer details";
}

<h1>Customer details</h1>
<hr />

<div class="form-group">
    <label asp-for="@Model.Customer.FirstName">First Name:</label>
    <input class="form-control" type="text" asp-for="@Model.Customer.FirstName" readonly>
</div>
<div class="form-group">
    <label asp-for="@Model.Customer.LastName">Last Name:</label>
    <input class="form-control" type="text" asp-for="@Model.Customer.LastName" readonly>
</div>
<div class="form-group">
    <label asp-for="@Model.Customer.Email">Email:</label>
    <input class="form-control" type="text" asp-for="@Model.Customer.Email" readonly>
</div>
<div class="form-group">
    <label asp-for="@Model.Customer.Preferences">Preferences:</label>
    <select multiple class="form-control" readonly>
        @foreach (var pref in @Model.Preferences) {
            <option>@pref.Name</option>
        }
    </select>
</div>
<div class="form-group">
    <label asp-for="@Model.Customer.PromoCodes">Promocodes:</label>
    <select multiple class="form-control" readonly>
        @foreach (var p in @Model.Promocodes) {
            <option>@p.Code</option>
        }
    </select>
</div>

<div>
    <a class="btn btn-sm btn-primary" asp-page="Customer" asp-page-handler="Update" asp-route-id="@Model.Customer.Id">Edit</a> |
    <form class="m-0 p-0 d-inline" asp-page="Customer" asp-page-handler="Delete" method="post">
        <input type="hidden" name="Id"
               value="@Model.Customer.Id" />
        <button type="submit" class="btn btn-sm btn-danger">
            Delete
        </button>
    </form>
</div>

<div>
    <a asp-page="CustomerList">Back to List</a>
</div>