﻿@page "/Admin/PreferenceDetails"
@model PreferenceDetailsModel
@{
    ViewData["Title"] = "Preference details";
}


<h1>Preference details</h1>
<hr />

<div class="form-group">
    <label asp-for="@Model.PreferenceViewModel.Name">Name:</label>
    <input class="form-control" type="text" asp-for="@Model.PreferenceViewModel.Name" readonly>
</div>

<div>
    <a class="btn btn-sm btn-primary" asp-page="Preference" asp-page-handler="Update" asp-route-id="@Model.PreferenceViewModel.Id">Edit</a> |
    <form class="m-0 p-0 d-inline" asp-page="Preference" asp-page-handler="Delete" method="post">
        <input type="hidden" name="Id"
               value="@Model.PreferenceViewModel.Id" />
        <button type="submit" class="btn btn-sm btn-danger">
            Delete
        </button>
    </form>
</div>

<div>
    <a asp-page="PreferenceList">Back to List</a>
</div>