﻿@page "/Admin/Preference"
@model PreferenceModel
@{
}

@{
    ViewData["Title"] = @Model.Title;
}

<h1>@Model.Title</h1>
<hr />

<form method="post">
    <div class="form-group">
        <input type="hidden" asp-for="PreferenceViewModel.Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PreferenceViewModel.Name" class="control-label">Name:</label>
        <input asp-for="PreferenceViewModel.Name" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="PreferenceList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}