﻿@page "/Admin/Promocode"
@model PromocodeModel

@{ ViewData["Title"] = @Model.Title; }

<h1>@Model.Title</h1>
<hr />

<form method="post">
    <div class="form-group">
        <input type="hidden" asp-for="PromoCodeViewModel.Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PromoCodeViewModel.Code" class="control-label">Code:</label>
        <input asp-for="PromoCodeViewModel.Code" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PromoCodeViewModel.ServiceInfo" class="control-label">Service info:</label>
        <input asp-for="PromoCodeViewModel.ServiceInfo" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PromoCodeViewModel.BeginDate" class="control-label">Begin Date:</label>
        <input asp-for="PromoCodeViewModel.BeginDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PromoCodeViewModel.EndDate" class="control-label">End Date:</label>
        <input asp-for="PromoCodeViewModel.EndDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PromoCodeViewModel.PreferenceName" class="control-label">Name:</label>
        <select asp-for="PromoCodeViewModel.PreferenceId" class="form-control">
            @foreach (var pref in @Model.AllPreferenceViewModels) {
            <option selected="@pref.IsSelected" value="@pref.Id">@pref.Name</option>            
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="PreferenceList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}