﻿@page "/Admin/PromocodeList"
@model PromocodeListModel

<h1 class="text-center m-2 p-2">Promocodes management page!</h1>

<a class="btn btn-sm btn-primary m-2 p-2" asp-page="Promocode" asp-page-handler="Create">Create new</a>

<div>
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Service info</th>
                <th>Begin date</th>
                <th>End date</th>
                <th>Preference</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var @p in Model.PromocodeViewModels) {
            <tr>
                <td>
                    @Html.DisplayFor(model => p.Code)
                </td>
                <td>
                    @Html.DisplayFor(model => p.ServiceInfo)
                </td>
                <td>
                    @Html.DisplayFor(model => p.BeginDate)
                </td>
                <td>
                    @Html.DisplayFor(model => p.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(model => p.PreferenceName)
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" asp-page="Promocode" asp-page-handler="Update" asp-route-id="@p.Id">Edit</a> |
                    <a class="btn btn-sm btn-outline-primary" asp-page="PromocodeDetails" asp-route-id="@p.Id">Details</a> |
                    <form class="m-0 p-0 d-inline" asp-page="Promocode" asp-page-handler="Delete" method="post">
                        <input type="hidden" name="Id" value="@p.Id" />
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-page="Admin">Back to admin page</a>
</div>