﻿@page "/Admin/PromocodeDetails"
@model PromocodeDetailsModel
@{ ViewData["Title"] = "Promocode details"; }


<h1>Promocode details</h1>
<hr />

<div class="form-group">
    <label asp-for="@Model.PromoCodeViewModel.Code">Code:</label>
    <input class="form-control" type="text" asp-for="@Model.PromoCodeViewModel.Code" readonly>
</div>
<div class="form-group">
    <label asp-for="@Model.PromoCodeViewModel.ServiceInfo">Service info:</label>
    <input class="form-control" type="text" asp-for="@Model.PromoCodeViewModel.ServiceInfo" readonly>
</div>
<div class="form-group">
    <label asp-for="@Model.PromoCodeViewModel.BeginDate">Begin date:</label>
    <input class="form-control" type="text" asp-for="@Model.PromoCodeViewModel.BeginDate" readonly>
</div>
<div class="form-group">
    <label asp-for="@Model.PromoCodeViewModel.EndDate">End date:</label>
    <input class="form-control" type="text" asp-for="@Model.PromoCodeViewModel.EndDate" readonly>
</div>
<div class="form-group">
    <label asp-for="@Model.PromoCodeViewModel.PreferenceName">Preference name:</label>
    <input class="form-control" type="text" asp-for="@Model.PromoCodeViewModel.PreferenceName" readonly>
</div>
<div class="form-group">
    <label asp-for="@Model.PromoCodeViewModel.Customers">Customers:</label>
    <select multiple class="form-control" readonly>
        @foreach (var c in @Model.PromoCodeViewModel.Customers) {
            <option>@c.FirstName @c.LastName</option>
         }
    </select>
</div>


<div>
    <a class="btn btn-sm btn-primary" asp-page="Promocode" asp-page-handler="Update" asp-route-id="@Model.PromoCodeViewModel.Id">Edit</a> |
    <form class="m-0 p-0 d-inline" asp-page="Promocode" asp-page-handler="Delete" method="post">
        <input type="hidden" name="Id"
               value="@Model.PromoCodeViewModel.Id" />
        <button type="submit" class="btn btn-sm btn-danger">
            Delete
        </button>
    </form>
</div>

<div>
    <a asp-page="PromocodeList">Back to List</a>
</div>